{deps, [
    {procket, "0.9.8"},
    {pkt, "0.6.0"},
    {tunctl, "0.3.5"}
]}.

{pre_hooks, [
    {compile, "mkdir -p priv/tmp"}
]}.

{erl_opts, [
    warn_unused_vars,
    warn_export_all,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_deprecated_function,
    warn_obsolete_guard,
    strict_validation,
    warn_export_vars,
    warn_exported_vars,
    warn_missing_spec,
    warn_untyped_record,
    debug_info
]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        underspecs
    ]}
]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        "LICENSE"
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/msantos/sut"}
]}.
