{deps, [
    {procket, {git, "git://github.com/msantos/procket.git", {branch, "master"}}},
    {pkt, {git, "git://github.com/msantos/pkt.git", {branch, "master"}}},
    {tunctl, {git, "git://github.com/msantos/tunctl.git", {branch, "master"}}}
    ]}.

{pre_hooks, [
    {compile, "mkdir -p priv/tmp"}
    ]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        race_conditions,
        underspecs
    ]}]}.
